body {
  background-image: url("../todolist2.jpg");

  font-family: "Inter", serif;
  font-optical-sizing: auto;
}
header,
main {
  text-align: center;
}
.row {
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
li.completed {
  text-decoration: line-through;
}
